.main{width:100vw;height:100vh;background-color:#1a2023;background-image:url(bg.d741c26f57e2175c20cb.jpg)}.title{color:#1a2023}.content-text,.content-title{color:#1a2023;background-color:#f2f4f7;padding:20px 40px}