{% block html %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <main class="main">
            {% block body %}
            {% endblock %}

            <div class="title">
                <h2>
                    The Birds
                    <span>Are Send Out</span>
                </h2>
            </div>

            <div class="content">
                <h1 class="content-title">
                    {% block title %}
                    {% endblock %}
                </h1>
                <p class="content-message">
                    {% block text %}
                    {% endblock %}
                </p>
            </div>
        </div>

    </body>
</html>

<!--
- Unfortunately, Microsoft has added a clever new
- "feature" to Internet Explorer. If the text of
- an error's message is "too small", specifically
- less than 512 bytes, Internet Explorer returns
- its own error message. You can turn that off,
- but it's pretty tricky to find switch called
- "smart error messages". That means, of course,
- that short error messages are censored by default.
- IIS always returns error messages that are long
- enough to make Internet Explorer happy. The
- workaround is pretty simple: pad the error
- message with a big comment like this to push it
- over the five hundred and twelve bytes minimum.
- Of course, that's exactly what you're reading
- right now.
-->

{% endblock %}
