{% extends "./layout/layout.twig" %}

{% block title %}
    502 Bad Gateway
{% endblock %}

{% block text %}
    Web server received an invalid response while acting as a gateway or proxy server.
{% endblock %}
