{% extends "./layout/layout.twig" %}

{% block title %}
    400 Bad Request
{% endblock %}

{% block text %}
    Client sent malformed Host header<br/>
    Your browser sent a request that this server could not understand.
{% endblock %}
