<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>403 Forbidden</title>
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700' rel='stylesheet' type='text/css'>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <span class="email">ed.arassly@troppus</span>
    <div class="right">
      <p>LYSSARA.de</p>
    </div>
  </header>
  <section>
    <div>
      <h1>The Birds <span class="h1-light">Are Send Out</span></h1>
      <p class="error">403 Forbidden</p>
      <p>You do not have permission to access this document.</p>
    </div>
  </section>
</body>
</html>


<!--
   - Unfortunately, Microsoft has added a clever new
   - "feature" to Internet Explorer. If the text of
   - an error's message is "too small", specifically
   - less than 512 bytes, Internet Explorer returns
   - its own error message. You can turn that off,
   - but it's pretty tricky to find switch called
   - "smart error messages". That means, of course,
   - that short error messages are censored by default.
   - IIS always returns error messages that are long
   - enough to make Internet Explorer happy. The
   - workaround is pretty simple: pad the error
   - message with a big comment like this to push it
   - over the five hundred and twelve bytes minimum.
   - Of course, that's exactly what you're reading
   - right now.
   -->
