{% extends "./layout/layout.twig" %}

{% block title %}
    500 Internal Server Error
{% endblock %}

{% block text %}
    The server encountered an internal error or
    misconfiguration and was unable to complete
    your request.
    Please contact the server administrator to inform of the time the error occurred
    and of anything you might have done that may have
    caused the error.
    More information about this error may be available
    in the server error log.
{% endblock %}
