{% extends "./layout/layout.twig" %}

{% block title %}
    501 Not Implemented
{% endblock %}

{% block text %}
    The page you are looking for cannot be displayed because a
    header value in the request does not match certain configuration
    settings on the Web server.
{% endblock %}
