{% extends "./layout/layout.twig" %}

{% block title %}
    412 Precondition Failed
{% endblock %}

{% block text %}
    The request was not completed due to preconditions that are set in the request header.
    Preconditions prevent the requested method from being applied to a
    resource other than the one intended.
{% endblock %}
