{% extends "./layout/layout.twig" %}

{% block title %}
    407 Proxy Authentication Required
{% endblock %}

{% block text %}
    You must be authenticated by a proxy server before the Web server can execute your request.
{% endblock %}
