{% extends "./layout/layout.twig" %}

{% block title %}
    414 Request-URI Too Long
{% endblock %}

{% block text %}
    The Web server is refusing to service the request because the requested URL address is too long.
{% endblock %}
