{% extends "./layout/layout.twig" %}

{% block title %}
    401 Authorization Required
{% endblock %}

{% block text %}
    This server could not verify that you
    are authorized to access the document
    requested.  Either you supplied the wrong
    credentials (e.g., bad password), or your
    browser doesn't understand how to supply
    the credentials required.
{% endblock %}
