{% extends "./layout/layout.twig" %}

{% block title %}
    415 Unsupported Media Type
{% endblock %}

{% block text %}
    The Web server cannot service the request because the requested
    file is in a format that the server is configured not to download.
{% endblock %}
