$error-color: #1a2023 !default;
$error-bg-color: #f2f4f7 !default;
$font-size-content-title: 40px !default;
$font-size-content-text: $font-size-content-title / 2 !default;

.main {
    width: 100vw;
    height: 100vh;
    background-color: #1a2023;
    background-image: url('../assets/bg.jpg');
}

.title {
    color: $error-color;
}

.content {

    &-title,
    &-text {
        color: $error-color;
        background-color: $error-bg-color;
        padding: 20px 40px;
    }

    &-title {

    }

    &-text {

    }
}
